/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 375px;
    height: 772px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    padding: 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 18px;
    margin-bottom: 10px;
  text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;
}

nav a {
    font-size: 12px;
    color: #484848;
    text-decoration: none;
}

.search {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filter-btn {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #ddd;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.aviso-card {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
}

.card-header {
    margin-bottom: 10px;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(34, 34, 34, 0.16);
    width: 328px;
    height: 268px;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
}

.card-herader span{
    display: flex;
}

.card-header .author {
    font-size: 14px;
    color: #333;
}

.card-header .date {
    font-size: 12px;
    color: #888;
}

.aviso-card h2 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.aviso-card p {
    font-size: 14px;
    color: #555;
}

.attachments {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.attachments span:first-child {
    font-size: 14px;
    color: #333;
}

.attachment-count {
    font-size: 14px;
    margin-left: 5px;
    color: #333;
}

.comments {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
}

footer {
    padding: 16px;
    background-color: #f0f0f0;
    text-align: center;
}

.request-btn {
    font-size: 14px;
    padding: 10px;
    color: #333;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}